@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;800&display=swap");


.poster_path {
  display: flex;
  padding: 10px;
  overflow: auto;
  white-space: nowrap;
}

.poster_path::-webkit-scrollbar {
  display: none;
}

.row_poster {
  max-height: 100px;
  object-fit: contain;
  margin-right: 20px;
  transition: transform 0.5s;
  cursor: pointer;
  border-radius: 5px;
}

.row_poster:hover {
  transform: scale(1.05);
}

.row_posterLarge {
  max-height: 250px;
}

.row > h1 {
  position: relative;
  margin: 2rem 0 0 0.5rem;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 1.5rem !important;
}

.false {
  display: none;
  height: 1000px;
  /* border: 30px dotted blue; */
}

.true {
  display: block;
  text-align: center;
  /* height: 100px; */
  /* border: 30px dotted blue; */
}

.card_wrapper {
  position: relative;
}

h2 {
  position: absolute;
  bottom: 0;
  background-color: green;
  border-radius: 50px;
  
}
