body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  font-family: 'Roboto', sans-serif;
  color: #ffffff !important;
  font-size: larger;
  margin-left: 25px;
}

.nav-link:hover {
  color: red !important; 
  }

.button {
  background-color: red !important;
}  

.button:hover {
  background-color:#dd0a35!important;
} 

